/************************************************

Stylesheet: Global Stylesheet

*************************************************/

.grid-container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.background-gradient {
	background-image: linear-gradient(224deg, #567BCE 0%, #3C5895 85%);
}

.styled-image img {
	border-radius: $global-radius;
	box-shadow: 0 4px 8px rgba($black, .33);;
}

.margin-bottom-0 {
	margin-bottom: 0;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-bottom-centered {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.show-for-xlarge {
	@include breakpoint(large down) {
		display: none;
	}
}

.styled-container {
	box-shadow: $global-box-shadow;
	border-radius: $global-radius;
	overflow: hidden;
	background: $white;
}

.container-border-top {
	border-radius: 0 0 $global-radius $global-radius;
	border-top: 7px solid $primary-color;
}

.play-btn {
	width: 100px;
	height: 100px;
	background: radial-gradient( rgba(#6DDFBA, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
	border-radius: 50%;
	position: relative;
	display: block;
	margin: auto;
	box-shadow: 0 0 25px 3px rgba(#6DDFBA, 0.8);

	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-40%) translateY(-50%);
		transform-origin: center center;
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		border-left: 25px solid #fff;
		z-index: 100;
		transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&:before {
		content: "";
		position: absolute;
		width: 150%;
		height: 150%;
		animation-delay: 0s;
		animation: pulsate1 2s;
		animation-direction: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: steps;
		opacity: 1;
		border-radius: 50%;
		border: 5px solid rgba(255, 255, 255, .75);
		top: -25%;
		left: -25%;
		background: rgba(198, 16, 0, 0);
	}
}

@keyframes pulsate1 {
	0% {
		transform: scale(0.6);
		opacity: 1;
		box-shadow: inset 0 0 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
	}
	100% {
		transform: scale(1);
		opacity: 0;
		box-shadow: none;

	}
}

.magellan-bar {

	.menu {
		> li {
			> a {
				font-weight: $global-weight-bold;
				color: $dark-gray;
				border-bottom: 2px solid $white;
				transition: all .2s ease-in-out;

				&.is-active {
					color: $secondary-color;
					border-bottom-color: $secondary-color;
				}
			}
		}
	}
}

.search-bar {
	margin-bottom: $global-margin;

	input, select {
		@include breakpoint(large) {
			margin-bottom: 0;
		}
	}
}

/*********************
TYPOGRAPHY STYLES
*********************/
.text-color-white {
	color: $white;
}

.text-color-black {
	color: $black;
}

.text-color-primary {
	color: $primary-color;
}

.text-color-medium-gray {
	color: $medium-gray;
}

.text-color-dark-gray {
	color: $dark-gray;
}

.button {
	&.white:not(.hollow) {
		background: $white;
		color: $primary-color;
	}

	&.hollow {
		&.white {
			border-color: $white;
			color: $white;
		}
	}
}

ul.styled-ul {
	margin-left: 0;
	list-style: none;

	li {
		position: relative;
		padding-left: 2rem;
		margin-bottom: $global-margin;
		font-weight: bold;
		&:before {
			font-family: $font-family-font-awesome;
			content: "\f00c";
			position: absolute;
			left: 0;
			top: 0;
			color: $primary-color;
		}
	}
}

ol.styled-ol {
	margin: 0 0 1.5em;
	padding: 0;
	counter-reset: item;

	> li {
		margin: 0 0 1rem;
		padding: 0 0 0 2em;
		text-indent: -2em;
		list-style-type: none;
		counter-increment: item;
		&:before {
			display: inline-block;
			width: 1.5em;
			padding-right: 0.5em;
			font-weight: bold;
			text-align: right;
			content: counter(item) ".";
			color: $primary-color;
		}
	}
}

/*********************
HEADER STYLES
*********************/
.header {
	position: absolute;
	z-index: 99;
	width: 100%;
	top: 0;
	left: 0;

	#top-bar-menu {
		@include breakpoint(large) {
			max-width: 96%;
			margin: auto;
		}

		#main-nav {
			> li {
				> a {
					color: $white;
					position: relative;
					font-size: $small-font-size;
					&:before {
						content: '';
						height: 2px;
						width: 0;
						position: absolute;
						bottom: 0;
						left: 0;
						background: $white;
						transition: width .2s ease-in-out;
					}
				}

				.submenu {
					box-shadow: $global-box-shadow;
					border: none;
					> li {
						> a {
							color: $black;
							font-size: 14px;
							&:hover {
								color: $medium-gray;
							}
						}

						&.active {
							> a {
								color: $white;
								background: $medium-gray;
								&:hover {
									color: $white;
								}
							}
						}
					}
				}

				&.active {
					> a {
						background: transparent;
						font-weight: bold;
					}
				}

				&:hover {
					> a {
						&:before {
							width: 100%;
						}
					}
				}
			}
		}

		i {
			color: $white;
		}
	}

	.custom-logo-link {
		.custom-logo {
			width: 400px;
		}
	}

	.border-left {
		@include breakpoint(xlarge) {
			border-left: 1px solid $white;
		}
	}
}

body.admin-bar {
	.header {
		//top: 32px;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
.half-container {
	max-width: rem-calc(500);
	margin-left: auto;
	margin-right: auto;
	padding-left: $global-padding;
	padding-right: $global-padding;
}

.hero {
	color: $white;
	background-size: 100% 100%;
	background-image: linear-gradient(224deg, #567BCE 0%, #3C5895 85%);

	&-large {
		min-height: 70vh;
	}

	&-inner {
		padding-top: $global-padding;
		padding-bottom: $global-padding;

		#breadcrumbs {}

		.page-title {
			margin-bottom: $global-margin;

			.registered {
				font-size: 50%;
				vertical-align: super;
			}
		}

		a {
			color: $white;
		}
	}

	&-image {
		.hero-inner {
			padding: 0;

			.hero-content-wrapper {
				max-width: rem-calc(600);
				margin-left: auto;
				padding: $global-padding;
				@include breakpoint(large) {
					transform: translateX(75px);
				}
			}

			.hero-image-wrapper {
				img {
					width: 100%;
					height: 300px;
					object-fit: cover;
					object-position: center;
					@include breakpoint(medium) {
						height: 500px;
						clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
					}
				}
			}
		}
	}
}

.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}


body {
	&.page-template {

		&-template-course {

			.article-header {

				.page-title {
					margin-bottom: 35px;
				}
			}

			.entry-content {
				padding-top: 50px;
			}
		}
	}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

.course-gallery {
	.gallery-slide {
		img {
			box-shadow: $global-box-shadow;
			border-radius: $global-radius;
			width: 100%;
			height: 350px;
			object-fit: cover;
			object-position: center;
		}
	}
}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

.course-table-nav {
	> li {
		> a {
			color: rgba($black, .35);
			border-left: 3px solid rgba($black, .15);
			background: transparent !important;
			transition: all .2s ease-in-out;

			&.is-active {
				color: $black;
				border-left-color: $primary-color;
			}
		}
	}
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;

	.get-started {
		margin-top: 50px;
		margin-bottom: 50px;
		box-shadow: $global-box-shadow;
		border-radius: $global-radius;
		transition: box-shadow .2s ease-in-out;

		&-inner {
			padding: 50px 2rem;
			position: relative;
		}
	}

	.inner-footer {
		background: #FBFBFB;
		border-top: 2px solid rgba(176, 183, 195, 0.15);
		padding-top: 75px;

		@include breakpoint(large) {
			padding-bottom: 35px;
		}

		.source-org, .copyright {
			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}

		.widget {
			.widgettitle {
				font-weight: $global-weight-bold;
				margin-bottom: 5px;
			}
		}

		.widget_nav_menu {
			.menu {
				margin-bottom: $global-margin;
				@extend .vertical;

				> li {
					> a {
						line-height: 1.6;
						padding: 2px 0;
					}
				}
			}
		}

		a {
			color: $medium-gray;
			&:hover {
				color: $dark-gray;
			}
		}
	}
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Hide Gravity Forms validation fields when GFCSS is disabled
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {
    display: none !important;
    position: absolute !important;
    left: -9000px;
}

// Social Icons
.social-icons-lists {
	@extend .menu;
	@extend .align-center;

	.social-icons-list-item {
		margin: 0;

		.social-icon {
			padding: 0;

			.socicon {

			}
		}
	}
}
