.courses-table-widget-filters{
  margin-bottom: 50px;
}

.courses-table-widget {

  .course-wrapper {
    margin-bottom: 50px;

    .course-table {
      box-shadow: $global-box-shadow;
      border-radius: $global-radius;
      overflow: hidden;

      tbody, tfoot, thead {
        border: none;
      }

      tfoot, thead {
        tr {
          box-shadow: $global-box-shadow;
          border-radius: $global-radius;
        }
      }

      tbody {
        tr {
          @include breakpoint(small only) {
            &:not(:last-child) {
              border-bottom: 1px solid rgba($black, .2);
            }
          }
        }
      }

      &-inner {
        padding: $global-padding;
        position: relative;
      }

      &-title {
        margin-bottom: 35px;
      }

      &-location {
        white-space: nowrap;
      }

      &-date {
        white-space: nowrap;
      }

      &-instructor {
        img {
          height: 30px;
          width: 30px;
          object-position: center;
          object-fit: cover;
          border-radius: 50%;
          box-shadow: $global-box-shadow;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      &-apply {
        white-space: nowrap;
      }
    }
  }
}
