.course-card {
  margin-bottom: $global-margin;
  box-shadow: $global-box-shadow;
  border-radius: $global-radius;
  transition: box-shadow .2s ease-in-out;
  overflow: hidden;

  &-inner {
    padding: $global-padding;
    position: relative;
  }

  &-image-wrapper {
    overflow: hidden;

    .course-card-image {
      transition: all .2s ease-in-out;
      height: 200px;
      object-fit: cover;
      object-position: center;
    }
  }

  &-trainer-wrapper {
    .course-card-trainer {
      height: 40px;
      width: 40px;
      object-position: center;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: $global-box-shadow;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: $global-margin;
    }
  }

  &-price {
    color: $primary-color;
    font-weight: $global-weight-bold;

    .og-price {
      text-decoration: line-through;
      color: $medium-gray;
    }

    .sales-price {

    }
  }

  &-title {
    font-weight: $global-weight-bold;
  }

  &-category {
    color: $medium-gray;
    margin-bottom: 0;
  }

  hr {
    opacity: .2;
    margin: .75rem auto;
  }

  &-sessions {}

  &-session {
    padding: 10px;
    background: $light-gray;
    border-radius: 5px;
    margin-bottom: $global-margin;
  };

  &-date {
    color: $medium-gray;
  }

  &-location {
    color: $medium-gray;
    margin-bottom: 0;
  }

  i {
    color: $black;
  }

  &-learn-more {
    margin-bottom: 0;

    a {
      margin-bottom: 0;
    }
  }

  &-apply-now {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: $global-box-shadow-hover;

    .course-card-image-wrapper {
      .course-card-image {
        transform: scale(1.1);
      }
    }
  }
}
