body.page-template-template-course {

  header {
    .page-title {
      font-weight: bold;

      .after {
        font-weight: 200;
      }
    }
  }

  .sidebar {
    @include breakpoint(medium down) {
      margin-bottom: 50px;
    }
  }

  .magellan-bar {
    @include breakpoint(small only) {
      justify-content: center;
      font-size: 12px;
    }
  }
}
