.ipa-card-widget {

  .ipa-single-card-widget {
    margin-bottom: $global-margin;
    box-shadow: $global-box-shadow;
    border-radius: $global-radius;
    transition: box-shadow .2s ease-in-out;
    background: $white;

    &-inner {
      padding: 2rem;
      height: 100%;
    }

    &-icon {
      margin-bottom: $global-margin;
      height: 60px;
      width: 60px;
      object-fit: contain;
    }

    &-title {
      font-weight: $global-weight-bold;
      transition: color .2s ease-in-out;
      margin-bottom: $global-margin;
    }

    &-content {

      &-text {
        color: $medium-gray;
        transition: color .2s ease-in-out;
      }

      &-link {
        margin-top: 2rem;
        color: $medium-gray;
        display: block;

        span {
          width: 0;
          font-size: 0;
          opacity: 0;
          transition: all .2s ease-in-out;
        }
      }
    }

    &:hover {
      box-shadow: $global-box-shadow-hover;

      .ipa-single-card-widget-content {

        &-text {}

        &-link {
          color: $primary-color;

          span {
            width: 100%;
            font-size: inherit;
            opacity: 1;
          }
        }
      }

      .ipa-single-card-widget-title {
        color: $primary-color;
      }

      .ipa-single-card-widget-content-text {
        color: $black;
      }
    }
  }

  &.blue {
    .ipa-single-card-widget {
      background: $primary-color;
      color: $white !important;

      &-title {
        color: $white !important;
      }

      &-content {

        &-text {
          color: $white !important;
        }

        &-link {
          color: $white !important;
        }
      }
    }
  }
}
