.widget-full-content-tabs-wrapper {

  // tabs
  #widget-full-content-tabs {
    border: none;
    @include breakpoint(medium) {
      margin-bottom: 50px;
    }

    // tabs-title
    .ipa-single-card-widget {
      box-shadow: $global-box-shadow;
      border-radius: 0 0 8px 8px;
      overflow: visible;
      border: none;
      border-bottom: 3px solid transparent;
      transition: all .2s ease-in-out;
      position: relative;
      @include breakpoint(medium) {
        padding: 2rem 2rem 1rem;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 100%);
          @include css-triangle(30px, $primary-color, down);
          opacity: 0;
          transition: opacity .2s ease-in-out;
        }
      }

      &:hover, &.is-active {
        box-shadow: 0 4px 8px rgba($black, .3);
        border-bottom-color: $primary-color;

        &:after {
          opacity: 1;
        }
      }

      &-inner {

      }

      &-icon {
        margin-bottom: $global-margin;
      }

      &-title {
        color: $black;
      }

      a {
        background: transparent;
        outline: none;
      }
    }
  }

  // Responsive
  .accordion-item {

    .accordion-title {}

    .accordion-content {}
  }
}

.widget-full-content-tab-container {
  box-shadow: $global-box-shadow;
  @include breakpoint(medium) {
    margin-bottom: 50px;
  }

  .ipa-single-card-widget {

    &-inner {

    }
  }
}
