.ipa-clinics-widget {

  .ipa-clinic-card-wrapper {
    max-height: 80vh;
    overflow: auto;
  }

  .featured-clinic {
    border: 2px solid $primary-color;
  }

  .single-clinic {
    margin-bottom: $global-margin * 2;
    transition: all .15s ease-in-out;
    transform: translateY(0);
    cursor: pointer;
    &:hover {
      box-shadow: $global-box-shadow-hover;
      transform: translateY(-10px);
    }

    &-inner {
      padding: $global-padding $global-padding 0;

      .fa-star {
        color: #FFAD0D;
      }

      .ipa-faculty-member-image {
        height: 60px;
        width: 60px;
        object-fit: cover;
        object-position: center;
        margin: 0 10px $global-margin auto;
        border-radius: 50%;
        display: block;
      }

      hr {
        margin: .75rem auto 1rem;
        border-bottom-color: #B0B7C3;
        opacity: .3;
      }
    }

    &-title {}

    &-subtitle {
      margin-bottom: 0;
    }
  }

  .acf-map {
    width: 100%;
    height: 80vh;
  }

  // Fixes potential theme css conflict.
  .acf-map img {
    max-width: inherit !important;
  }
}

.map-icon-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
