.ipa-clinics-widget {

  .ipa-clinic-card-wrapper {
    max-height: 80vh;
    overflow: auto;
    padding-top: 2rem;
  }

  .featured-clinic {
    border: 2px solid #c1b530;
  }

  .single-clinic {
    margin-bottom: $global-margin * 2;
    transition: all .15s ease-in-out;
    transform: translateY(0);
    border: 1px solid transparent;

    &:hover {
      box-shadow: $global-box-shadow-hover;
      transform: translateY(-10px);
      border-color: $primary-color;
    }

    &-inner {
      padding: $global-padding;
      min-height: 70px;

      &-info {
        margin-top: 1rem;

        p {
          font-size: rem-calc(14);
          margin-bottom: .5rem;
        }

        i {
          margin-right: .5rem;
          height: 25px;
          width: 25px;
        }

        &-address {
          color: $primary-color;
          cursor: pointer;

          &:hover {
            color: $black;
          }
        }
      }

      .fa-star {
        color: #FFAD0D;
      }

      .ipa-faculty-member-image {
        height: 60px;
        width: 60px;
        object-fit: cover;
        object-position: center;
        margin: 0 auto .5rem;
        border-radius: 50%;
        display: block;
      }

      hr {
        margin: .75rem auto 1rem;
        border-bottom-color: #B0B7C3;
        opacity: .3;
      }
    }

    &-title {
    }

    &-subtitle {
      margin-bottom: 0;
    }
  }

  .acf-map {
    width: 100%;
    height: 80vh;
  }

  // Fixes potential theme css conflict.
  .acf-map img {
    max-width: inherit !important;
  }

  .map-container {
    position: relative;

    .map-overlay-card {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      box-shadow: 0 4px 8px rgba(10, 31, 68, .07);
      z-index: 1000;
      background: $white;
    }
  }

  .map-icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
