.ipa-clinics-widget {

  .ipa-clinic-card-wrapper {
    max-height: 80vh;
    overflow: auto;
    padding-top: 2rem;
  }

  .featured-clinic {
    border: 2px solid $primary-color;
  }

  .single-clinic {
    margin-bottom: $global-margin * 2;
    transition: all .15s ease-in-out;
    transform: translateY(0);
    cursor: pointer;
    &:hover {
      box-shadow: $global-box-shadow-hover;
      transform: translateY(-10px);
    }

    &-inner {
      padding: $global-padding $global-padding 0;
      min-height: 70px;

      .fa-star {
        color: #FFAD0D;
      }

      .ipa-faculty-member-image {
        height: 60px;
        width: 60px;
        object-fit: cover;
        object-position: center;
        margin: 0 10px $global-margin auto;
        border-radius: 50%;
        display: block;
      }

      hr {
        margin: .75rem auto 1rem;
        border-bottom-color: #B0B7C3;
        opacity: .3;
      }

      .accordion-title {}

      .accordion-content {}
    }

    &-title {}

    &-subtitle {
      margin-bottom: 0;
    }

    &.fellow {
      border: 2px solid #8a94a6;
    }

    &.cfmt {
      border: 2px solid #0a1f44;
    }

    .accordion-title {
      padding: 0px;
      display: flex;
      border: none;

      &:hover {
        background: white;
      }

      &:before {
        content: '';
      }
    }
    .accordion-content {
      border: none;
    }
  }

  .acf-map {
    width: 100%;
    height: 80vh;
  }

  // Fixes potential theme css conflict.
  .acf-map img {
    max-width: inherit !important;
  }

  .map-container {
    position: relative;

    .map-overlay-card {
      padding: 8px;
      position: absolute;
      width: 50%;
      right: 10px;
      top: 10px;
      box-shadow: 0 4px 8px rgba(10,31,68,.07);
      z-index: 1000;
      background: white;
    }
  }

  .map-icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
