.ipa-vertical-tabs {

  .tabs {
    border: none;
    background: transparent;

    &-title {
      a {
        font-size: 18px;
        font-weight: bold;
        color: rgba($black, .35);
        border-left: 3px solid rgba($black, .35);
        background: transparent !important;
        transition: all .2s ease-in-out;

        span {
          font-weight: normal;
          display: block;
          margin-top: 1rem;
          font-size: 90%;
        }
      }

      &.is-active {
        a {
          color: $black;
          border-left-color: $primary-color;
        }
      }
    }
  }

  .tabs-content {
    box-shadow: $global-box-shadow;
    border-radius: $global-radius;
    overflow: hidden;
    border: none;
    padding: 2rem 2rem 1rem;

    .tabs-panel {

    }
  }
}
